* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: line #34495e; */
  /* background-image: linear-gradient(#34495e); */
  background-image: linear-gradient(
    270deg,
    #f5983d 0%,
    #4fc8db 51%,
    #2cb5f8 85%
  );
  font-family: 'Roboto', sans-serif !important;
}
header {
  background: rgba(0, 0, 0, 0.28);
  width: 100%;
}

.myBtn,
.card {
  cursor: pointer;
}
#headerIcon {
  background-image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png);
  background-repeat: no-repeat;
  background-size: 100px 40px;
  height: 45px;
  width: 100px;
  margin: 0em auto 0em auto;
}
#boardInfo {
  color: white;
  background: hsla(0, 0%, 100%, 0.25);
  width: 100%;
  padding: 0.5em;
}
#boardInfo > span {
  font-size: 1.4em;
  font-weight: 900;
  margin: 0.4em;
}
.container {
  display: flex;
  justify-content: flex-start;
  margin: 1em;
  width: 100%;
}
.list {
  background-color: #ebecf0;
  color: #172b4d;
  width: 20em;
  height: auto;
  border-radius: 0.3em;
  padding: 1em;
}
.listTitle {
  font-weight: 600;
}

.addAnotherCard-btn {
  padding: 0.3em;
  border-radius: 0.2em;
}
.addAnotherCard-btn:hover {
  background-color: #d35400;
  color: white;
  font-weight: 700;
  transition: background-color 0.6s, color 0.7s;
}
.addCardOptions, .addCheckItemOptions, #addCheckListOptions {
  display: none;
}
#cardTitle-txtArea, .addCheckItemTitle {
  margin: 0.5em 0em;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.3em;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 2px 4px 0 rgba(0, 0, 0, 0.19);
}
.addSomethingBtn {
  padding: 0.6em;
  width: auto;
  border-radius: 0.4em;
  border: none;
  font-size: 1.1em;
  color: white;
  font-weight: 700;
  background-color: #5aac44;
}
.addSomethingBtn:hover {
  background-color: #2eac71;
}
.cancelBtn {
  font-size: 1.4em;
  color: #a2a2a2;
  font-weight: 500;
  background: none;
  border: none;
  margin-left: 0.5em;
}
.cancelBtn:hover {
  font-weight: 900;
  color: #424242;
}
.card {
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  border: none;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 2px 4px 0 rgba(0, 0, 0, 0.19); */
}
.card:hover {
  background-color: #f4f4f4;
}
#cardHeader {
  color: #ffffff;
  font-size: 1.5em;
}
#cardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 3fr;
}
#cardHeader {
  padding: 1em;
  background-color: #2c3a47;
  color: white;
}
#cardContentContainer {
}
#cardActionSideBar {
  padding: 1em;
}
.checkList-container {
  margin: 2em 1em;
}
.checkList-header {
  display: flex;
  justify-content: space-between;
  margin: 4em 0 1em 0;
}
.material-icons {
  font-size: 20px;
  margin: 0em 0.5em 0em 0em;
}
.checkList-deleteBtn {
  width: auto;
  font-size: 1em;
  padding: 0.2em 1em;
}
.cardBtn{
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.3em;
  margin-bottom: 1em;
}
#deleteCardBtn {
  background-color: #a13031;
  width: 100%;
  font-size: 1.2em;
  padding: 0.3em 0em;
}

.checkList-deleteBtn{
  background-color: #a13031;
  padding: 0.3em 1em;
}
.addCheckItemOptions{
  margin-top: 0.5em;
}
#addAnotherCheckListBtn {
  background-color: #2c3a47;
  width: 100%;
  font-size: 1.2em;
  padding: 0.3em 0em;
}
.addAnotherCheckItemBtn{
  background-color: #2c3a47;
  font-size: 0.9em;
  padding: 0.5em 2em;
}
#deleteCardBtn:hover {
  background-color: #d63031;
  transition: background-color 0.5s;
}
#checkListTitle {
  font-size: 1.3em;
}
.checkItem{
  display: flex;
  justify-content: space-between;
}